body {
  text-align: center;
  background: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  background-image: url("sky-background.png");
}

h1 {
  color: #2a2438;
  font-size: 45px;
  font-weight: 900;
}

.weather-temperature .units {
  font-size: 21px;
  position: relative;
  top: -18px;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.weather-temperature .active {
  color: #2a2438;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.icon-image {
  width: 60px;
}

.container {
  text-align: center;
}

.row-search-city {
  position: static;
  display: inline-block;
}

.current-city,
.search-city {
  position: relative;
  top: -2px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  padding-top: 15px;
}

.card {
  margin-right: auto;
  margin-left: auto;
  width: 450px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-color: transparent;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  background-color: rgba(250, 250, 250, 0.025);
}

.weather-forecast-temp-min {
  opacity: 0.5;
}
